<div class="card">
    <div class="card-body">
        <h3>{{postagem.titulo}}</h3>
        <br>
        <h5>{{postagem.descricao}}</h5>
        <br>
        <p>{{postagem.conteudo}}</p>
        <hr>
        <p> <strong>Categoria:</strong> {{postagem.categoria.nome}}</p>
    </div>
</div>